@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
.card-custom {
    width: 300px;
    margin: 0 auto 50px;
    height: 400px;
    background-color: #90d1ee !important;
    border: none !important;
    border-radius: 20px !important;
}

.card-img-wrapper {
    padding: 20px; 
    overflow: hidden; 
}

.card-img-custom {
    width: 100%; 
    border-radius: 20px !important;
    height: 200px; 
    object-fit: cover; 
}

.card-title-custom {
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
    color: #000000 !important;
}

.card-text-custom {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: #000000 !important;
}

.button-custom {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    background-color: #fc6e51 !important;
    font-size: 1.5rem !important;   
    color: #000000 !important;
    border: #000000;
    border-radius: 15px !important;
}

.add-to-cart-button {
   font-family: "Montserrat", sans-serif;
    background-color: #007bff !important; /* Синий фон */
    border: none; /* Без рамки */
    padding: 10px 20px; /* Отступы */
    font-size: 16px; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    border-radius: 15px !important; /* Закругленные углы */
    margin-top: 10px !important; /* Отступ сверху */
    text-align: center; /* Выравнивание текста по центру */
}
  